{{ form_start(form) }} {# CSRF token sera ajouté automatiquement ici #}
    {{ form_widget(form) }}

    <button class="btn btn-success mb-1">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
