<!DOCTYPE html>

<title>New Comment</title>

{% block body %}
    <h1>Create new Comment</h1>

    {{ include('comment/_form.html.twig') }}

    <a type="button" class="btn btn-secondary m-1" href="{{ path('app_comment_index') }}">back to list</a>
{% endblock %}
