{% block body %}
    <form method="post" action="{{ path('app_admin_contact_unarchive', {'id': contactArchive.id}) }}">
        <input type="hidden" name="_method" value="POST">
        <button type="submit" class="btn btn-secondary ms-1">
            {% trans %} UnArchive {% endtrans %}
        </button>
    </form>
{% endblock %}