

{% extends 'layout/base_admin.html.twig' %}
{% block title %}Hello Admin Home{% endblock %}


{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        

            <h1 class="text-center">{# {% trans %} #}Dashboard Admin{# {% endtrans %} #}</h1>

            <div class= "d-flex flex-wrap justify-content-around " >
                <div class = "p-2 m-2 border border-dark text-center">
                    <a href="{{ path('app_admin_user_index') }}">
                        <h2>{# {% trans %} #}User{# {% endtrans %} #}</h2>
                        <div>
                            <img src="https://static.vecteezy.com/ti/vecteur-libre/p3/8302706-eps10-vecteur-noir-utilisateur-icone-ou-logo-en-plat-simple-tendance-moderne-style-isole-sur-fond-blanc-gratuit-vectoriel.jpg" width="200" >
                        </div>
                    </a>
                </div>

                <div class = "p-2 m-2 border border-dark text-center">
                    <a href="{{ path('app_admin_comment_index') }}">
                        <h2>{# {% trans %} #}Comment{# {% endtrans %} #}</h2>
                        <div>
                            <img src="https://static.vecteezy.com/ti/vecteur-libre/p1/6732108-commentaire-logo-icone-signe-symbole-design-gratuit-vectoriel.jpg" width="200" >
                        </div>
                    </a>
                </div>

                <div class = "p-2 m-2 border border-dark text-center">
                    <a href="{{path('app_admin_post')}}">
                        <h2>{# {% trans %} #}Post{# {% endtrans %} #}</h2>
                        <div>
                            <img src="https://img.freepik.com/vecteurs-premium/cliparts-logo-vector-illustration-logo-icone_7688-575.jpg" width="200" >
                        </div>
                    </a>
                </div>

                <div class = "p-2 m-2 border border-dark text-center">
                    <a href="{{path('app_admin_contact_index')}}">
                        <h2>{# {% trans %} #}Contact{# {% endtrans %} #}</h2>
                        <div>
                            <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/message-icon-design-template-ff734aad72da096f0e49f3d693042135_screen.jpg?ts=1581057128" width="200" >
                        </div>
                    </a>
                </div>
            </div>

      
        
    </div>
{% endblock %}
