{% if is_granted('ROLE_ADMIN') %}
    {% set base = "_admin" %}
{% elseif is_granted('ROLE_EDITOR') %}
    {% set base = "_editor" %}
{% else %}
    {% set base = "" %}
{% endif %}
{% extends 'layout/base' ~ base ~ '.html.twig' %}

{% block title %}Adamas / Contact new{% endblock %}

{% block body %}
    
        <h1>
            {% trans %} 
                Create new Contact
            {% endtrans %}
        </h1>
    {{ include('contact/_form.html.twig') }}
    {% if is_granted('ROLE_ADMIN') %}
        <a type="button" class="btn btn-secondary mt-1" href="{{ path('app_admin_contact_index') }}">
            {% trans %}
                Back to list
            {% endtrans %}
        </a>
    {% elseif is_granted('ROLE_USER') %}
        <a type="button" class="btn btn-secondary mt-1" href="{{ path('app_user_contact_index') }}">
        {% trans %}
            Back to list
        {% endtrans %}
        </a>
    {% else %}
        <a type="button" class="btn btn-secondary mt-1" href="{{ path('app_home') }}">
        {% trans %}
            Back to list 
        {% endtrans %}
        </a>
    {% endif %}
{% endblock %}
