{% if is_granted('ROLE_ADMIN') %}
    {% set base = "_admin" %}
{% elseif is_granted('ROLE_EDITOR') %}
    {% set base = "_editor" %}
{% else %}
    {% set base = "" %}
{% endif %}
{% extends 'layout/base' ~ base ~ '.html.twig' %}

{% block title %}Adamas / Privacy Policy{% endblock %}

{% block body %}

    <section class="m-2">
        <h2>Politique de confidentialité</h2>

        <div>
        <h3>RESPONSABILITE</h3>
                <p>
                L'utilisateur du site reconnaît avoir pris connaissance de la présente notice légale et s'engage à la respecter.
                Adamas Corp s'engage à faire ses meilleurs efforts pour assurer aux utilisateurs une accessibilité du site à tout moment. Toutefois, elle ne pourra être tenue responsable en cas d'indisponibilité du site, pour quelle que cause que ce soit.
                L'utilisateur reconnaît disposer de la compétence et des moyens nécessaires pour accéder au site et l'utiliser, et reconnaît avoir vérifié que la configuration informatique utilisée ne contient aucun virus et qu'elle est en parfait état de fonctionnement.
                Adamas Corp met tout en œuvre pour offrir aux utilisateurs des informations et des outils disponibles et vérifiés, mais ne saurait être tenue responsable des erreurs ou inexactitudes, d'une absence de disponibilité des informations et/ou de la présence de virus ou autres infections logiques sur son site.
                Elle ne confère aux utilisateurs internautes aucune garantie explicite ou implicite, en ce qui concerne l'exactitude, l'exhaustivité ou la mise à jour des informations contenues dans le présent site, ou accessibles depuis ce site. En conséquence, il appartient aux utilisateurs de vérifier leurs informations en les recoupant avec toute autre source disponible. Adamas Corp ne garantit en aucun cas l'adéquation des informations avec les besoins de l'internaute, par conséquent Adamas Corp ne saurait supporter aucune demande de dédommagement pour préjudice direct ou indirect subi par l'internaute à la suite de la consultation et de l'utilisation des informations obtenues au moyen du site internet cci.fr.
                L'utilisateur reconnaît donc utiliser les informations et outils disponibles sur le site sous sa responsabilité exclusive.
                </p>
            
            <h3>PROTECTION DES DONNEES A CARACTERE PERSONNEL</h3>
                <p>
                Conformément à l'article 32 de la loi n°78-17 relative à l'informatique, aux fichiers et aux libertés du 6 janvier 1978 modifiée, CCI France, responsable de traitement, informe l'utilisateur qu'il met en œuvre un traitement de données à caractère personnel le concernant. Les informations communiquées par l'utilisateur par le biais des formulaires disponibles sur le site sont destinées aux personnes habilitées de CCI France, à des fins de gestion administrative et commerciale (Déclaration CNIL : 1954271v0). Les données identifiées par un astérisque sont obligatoires. A défaut, votre demande d'information ne pourra pas être traitée ou son traitement sera retardé.
                L'utilisateur dispose d'un droit d'accès, d'interrogation, de modification, de rectification et de suppression des données à caractère personnel le concernant, ainsi que la gestion de ses abonnements aux publications électroniques de Adamas Corp, par le biais de son compte personnel et/ou en s'adressant directement à Adamas Corp.
                L'utilisateur dispose également d'un droit d'opposition au traitement de ses données à caractère personnel pour des motifs légitimes, ainsi qu'un droit d'opposition à ce que ses données soient utilisées à des fins de prospection commerciale.
                Pour exercer ses droits, l'utilisateur doit adresser un courrier ou un mail à Adamas Corp accompagné d'une copie d'une pièce d'identité à l'adresse suivante :
                •	Adamas Corp - 8 Rue Pierre Brossolette, 92300 Levallois Perret,
                •	ou par courrier électronique à l'adresse contatc@adamas.corp.com .
                </p>

                <p>
                L'utilisateur est informé que, lors de ses visites sur le site, un cookie peut s'installer automatiquement sur son logiciel de navigation. Les règles applicables aux cookies et leur paramétrage sont accessibles dans la politique cookies disponible sur notre site internet.
                L'utilisateur du site est tenu de respecter les dispositions de la loi n°78-17 relative à l'informatique, aux fichiers et aux libertés du 6 janvier 1978 modifiée, dont la violation est passible de sanctions pénales. Notamment, il doit s'abstenir de toute collecte, de toute utilisation détournée et, d'une manière générale, de tout acte susceptible de porter atteinte à la vie privée ou à la réputation des personnes.
                </p>

            <h3>PROPRIETE INTELLECTUELLE</h3>

                <p>
                Le site internet www.Adamas.Corp.com pris dans son ensemble, ainsi que chaque élément qui le compose (marques, logo, textes, sons, images, vidéos, animations, base de données … sans que cette liste ne soit limitative), sont la propriété exclusive de Adamas Corp (ou de tiers auprès desquels elle a obtenu une licence).
                L'utilisateur dispose d'un droit d'usage privé, personnel, non collectif et non exclusif, sur ce contenu. Sous réserve des exceptions au droit d'auteur prévues par l'article L122-5 du Code de la propriété intellectuelle, tout autre usage du contenu est soumis à autorisation préalable et exprès de Adamas Corp, notamment dans le cas où l'utilisateur envisagerait de rediffuser le contenu sur un autre site. La violation de ces dispositions impératives soumet le contrevenant, et toutes personnes responsables, aux peines pénales et civiles prévues par la loi.
                Pour toute demande d'autorisation vous pouvez prendre contact avec Adamas Corp .
                </p>

            <h3>TERMES REGLEMENTES</h3>

                <p>
                Les termes « Chambres de Commerce et d'Industrie » sont des termes règlementés, réservés aux seuls établissements publics relevant de l'article L710-1 du Code de Commerce. Toute infraction à ce texte est punie d'une amende.
                </p>

            <h3>LIEN</h3>

                <p>
                Les liens présents sur le site www.Adamas.Corp.com peuvent orienter l'utilisateur sur des sites extérieurs dont le contenu ne peut en aucune manière engager la responsabilité de Adamas Corp.
                </p>

            <h3>ACCESSIBILITE</h3>

                <p>
                Adamas Corp France se conforme aux règles d'accessibilité de la loi du 11 février 2005 pour l'égalité des droits et des chances, la participation et la citoyenneté des personnes handicapées qui s'imposent par à tout site public. Le développement du site internet cci.fr a été réalisé pour répondre aux critères d'accessibilité de niveau 1 selon le Référentiel Général d'Accessibilité pour les Administrations (RGAA).
                </p>
        </div>
    </section>
{% endblock %}